<%- include("partials/header"); -%>
    <h1>Home</h1>
    <p> <%= homeContent %> </p>

    <%  posts.forEach(function(post){ %>

        
         <h1><%=post.title%></h1>
         <img src="data:image/<%= post.img.contentType %>;base64,<%= post.img.data %>" alt="Post Image" style="max-width: 600px; max-height: 200px;">
         <p>
            <%=post.content.substring(0, 100) + " ..."%>
            <a href="/posts/<%=post.title%>">Read More</a>
         </p>
     
         <% }) %>


<%- include("partials/footer"); -%>
